:root:not(.theme-dark) {
  --tv-color-platform-background: white;
  --tv-color-pane-background: white;
  --tv-color-pane-background-secondary: white;
  --tv-color-toolbar-button-background-hover: white;
  --tv-color-toolbar-button-background-secondary-hover: white;
  --tv-color-toolbar-button-background-expanded: white;
  --tv-color-toolbar-button-text: rgba(255, 255, 255, 0.8);
  --tv-color-toolbar-button-text-hover: #5c7df9;
  --tv-color-toolbar-button-text-active: rgba(255, 255, 255, 0.8);
  --tv-color-toolbar-button-text-active-hover: rgb(59, 40, 40);
  --tv-color-item-active-text: rgba(255, 255, 255, 0.8);
  --tv-color-toolbar-toggle-button-background-active: white;
  --tv-color-toolbar-toggle-button-background-active-hover: white;
}

.theme-dark {
  --tv-color-platform-background: white;
  --tv-color-pane-background: white;
}

:root:not(.theme-light) {
 --tv-color-platform-background: white;
  --tv-color-pane-background: white;
  --tv-color-pane-background-secondary: white;
  --tv-color-toolbar-button-background-hover: white;
  --tv-color-toolbar-button-background-secondary-hover: white;
  --tv-color-toolbar-button-background-expanded: white;
  --tv-color-toolbar-button-text: rgba(255, 255, 255, 0.8);
  --tv-color-toolbar-button-text-hover: #5c7df9;
  --tv-color-toolbar-button-text-active: rgba(255, 255, 255, 0.8);
  --tv-color-toolbar-button-text-active-hover: rgb(59, 40, 40);
  --tv-color-item-active-text: rgba(255, 255, 255, 0.8);
  --tv-color-toolbar-toggle-button-background-active: white;
  --tv-color-toolbar-toggle-button-background-active-hover: white;

  /* MODALS */
}

.theme-light {
  --tv-color-platform-background: white;
  --tv-color-pane-background: white;
}
