/* custom cho thư viện date picker */
.dark .react-datepicker__portal,
.dark .react-datepicker-popper,
.dark .react-datepicker {
  background-color: #0E1020 !important;
  color: #fff !important;
  border: none !important;
  border-radius: 8px;
}

.react-datepicker__portal,
.react-datepicker-popper,
.react-datepicker {
  background-color: white !important;
  color: black !important;
  border: none !important;
  border-radius: 8px;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.3);
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #2ebdb1 !important;
  color: black !important;
}

.dark .react-datepicker__header {
  border: none !important;
  background-color: #0E1020 !important;
}

.react-datepicker__header {
  border: none !important;
  background-color: white !important;
}

.dark .react-datepicker__current-month {
  color: #ffffff !important;
}

.react-datepicker__current-month {
  color: black !important;
}

.react-datepicker__navigation {
  color: black !important;
}

.react-datepicker__day-name {
  color: #3e4047 !important;
}

.react-datepicker__day {
  color: #a9aaad; 
}

.react-datepicker__day:hover {
  background-color: #2ebdb1 !important;
  color: #302502 !important;
}

/* react-datepicker disabled day */
.react-datepicker__day--disabled {
  @apply opacity-50 cursor-not-allowed;
}

.dark .react-datepicker__day--disabled {
  @apply opacity-40 cursor-not-allowed;
}
